body {
  background-color: #f0f0f0;
}
.product-container > section {
  background-color: #fff;
  border-radius: 3px;
}
.product {
  padding: 20px;
  margin-bottom: 20px;
}
.product-image-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
}
.product-image {
  width: 300px;
}
.product-name {
  font-weight: 100;
  font-size: 20px;
}
.product-price {
  color: #c92127;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}
.product-rate {
  align-items: center;
  display: flex;
}
.product-stars {
  color: #f6a500;
}
.product-stars > i:not(:first-child) {
  display: none;
}
.product-stars > span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.product-rate > span {
  color: #999;
  margin-left: 10px;
  font-size: 15px;
}
.product-addon {
  display: flex;
  margin-left: auto;
}
.product-addon > div {
  margin-left: 30px;
}
.add-to-cart,
.buy-now {
  align-items: center;
  background-color: #fff;
  border: 1px solid #c92127;
  display: flex;
  color: #c92127;
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
  flex: 1;
  text-align: center;
  flex-direction: row;
}
.buy-now {
  color: #fff;
  background-color: #c92127;
}
.product-quantity {
  align-self: center;
  border: 1px solid #999;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex: 1;
  font-weight: bold;
}
.product-quantity > a {
  color: #999;
}
.product-quantity-wrapper {
  background-color: #fff;
  display: flex;
  left: 0;
  right: calc(100% * calc(2 / 3));
}
.product-quantity-wrapper > label {
  display: none;
}
.product-quantity-wrapper,
.buy-now,
.add-to-cart {
  line-height: 56px;
  position: fixed;
  bottom: 0;
}
.add-to-cart {
  right: calc(100% * calc(1 / 3));
  left: calc(100% * calc(1 / 3));
}
.buy-now {
  left: calc(100% * calc(2 / 3));
  right: 0;
}
.product-details {
  padding: 20px;
  margin-bottom: 20px;
}
.product-title {
  font-weight: bold;
  font-size: 19px;
}
.product-details-contents {
  margin-top: 20px;
  font-size: 15px;
}
.product-details-content {
  display: flex;
  flex-direction: row;
  line-height: 30px;
}
.product-content-label {
  width: 40%;
}
.product-content-detail {
  width: 60%;
}

@media only screen and (min-width: 1024px) {
  .product-container {
    width: 1200px;
    margin: 0 auto;
  }
  .product {
    display: flex;
    flex-direction: row;
  }
  .product-view {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .product-image-wrapper {
  }
  .product-image {
    flex: 0.8;
  }
  .product-name {
    font-weight: bold;
    font-size: 22px;
  }
  .product-stars > i:not(:first-child) {
    display: inline;
    margin-left: -5px;
  }
  .product-info {
    flex: 1;
    padding-left: 40px;
  }
  .product-addon > div {
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #c92127;
    padding: 10px;
  }
  .button-wrapper {
    display: flex;
    margin-top: 30px;
  }
  .add-to-cart,
  .buy-now {
    padding: 13px 30px;
  }
  .add-to-cart,
  .buy-now,
  .product-quantity-wrapper {
    border-radius: 5px;
    position: unset;
    line-height: normal;
  }
  .buy-now {
    margin-left: 10px;
  }
  .product-quantity-wrapper {
    display: flex;
  }
  .product-quantity-wrapper > label {
    color: #777;
    display: inline;
    line-height: 32px;
    width: 150px;
  }
  .product-quantity {
    border-radius: 5px;
    flex: 0.2;
    padding: 0 10px;
    line-height: 32px;
  }
  .product-content-label {
    width: 30%;
  }
  .product-content-detail {
    width: 70%;
  }
}
